Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^assets/(.*)$ public/assets/$1 [L]
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^(.+)$ public/index.php [L]
</IfModule>

<IfModule mod_authz_core.c>
    <FilesMatch "^(README|PROJECT_FILES|INSTALL|SECURITY).*">
        Require all granted
    </FilesMatch>
</IfModule>
