FACEAUTH_CORE_SECRET=change-me
FACEAUTH_VERIFY_THRESHOLD=0.6
FACEAUTH_DECISION_TTL=30

FACEAUTH_USE_MYSQL=1
FACEAUTH_MYSQL_HOST=127.0.0.1
FACEAUTH_MYSQL_PORT=3306
FACEAUTH_MYSQL_USER=root
FACEAUTH_MYSQL_PASSWORD=change_me
FACEAUTH_MYSQL_DB=faceauth_core
